.svg-icon{
    position relative
    display inline-block

    > svg{
        position absolute
        height 100%
        width 100%
        display block
        fill currentColor
        pointer-events: none
    }
}